.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --primary-color: #FFC107;
  --secondary-color: #FF5722;
  --tertiary-color: #2196F3;
  --light-gray: #F5F5F5;
  --dark-gray: #333333;
}

/* Apply colors */
body {
  background: linear-gradient(to bottom, #F5F5F5, #FFC107);
  color: var(--dark-gray);
  font-family: 'Roboto', sans-serif;

}

.background-image {
  background-image: url('./images/home image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.no-padding-left {
  padding-left: 0;
}



a {
  color: var(--tertiary-color);
}

a:hover {
  color: var(--secondary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  border: none;
}

.nav-btn{
  background-color: none;
  color: var(--primary-color);
  border: none;
}

button:hover {
  background-color: var(--secondary-color);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  background-color: var(--tertiary-color);
  color: #333333;
}

.logged-in {
 padding-right: 0;
 color: var(--secondary-color);
 /* background-color: var(--primary-color); */
}

.footer-container {
  height: 50px;
  margin-top: 35px;
  padding-bottom: 0;
}

.option-btn:hover {
  background-color: #1DB954;
}

Button {
  margin-right: 10px;
}


.items {
  display: flex;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.login-page {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 2px solid black;
  border-radius: 30px;
  background-color: var(--tertiary-color);
  margin-top: 150px;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 60rem;
  background-image: url(./images/construction\ background.jpg);
  background-repeat: repeat;
  background-position: center;
  color: var(--dark-gray);
}
.login-page form label {
  width: 100%;
}


#email {
  display: flex;
  width: 50rem;
}

#login-btn:hover {
  background-color: #F6A833;
  transform: scale(1.2);
}

#login-btn:active {
  background-color: #1DB954;
  transform: scale(1.2);
}

.custom-list {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}


.custom-h2 {
  font-weight: bold;
  color: var(--dark-gray)
}


.project-container {
  display: grid;
  justify-content: center;
  border: 10px solid black;
  border-radius: 50px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.profile-page {
  color: var(--secondary-color);
}


.scrollable-column {
  max-height: 60vh; /* Adjust the height as needed */
  overflow-y: auto;
}

/* Make the scrollbar invisible */
.scrollable-column::-webkit-scrollbar {
  width: 0;
}

.construction-theme-form {
  width: 100%; /* You can adjust this value to fit your needs */
  margin: 0 auto; /* Center the container */
}
